@model WebApplication.Models.CompanyProduct

@{
    ViewBag.Title = "Details";
}

@using (Html.BeginForm("Index", "Cart", Model))
{

    <img src="https://i.imgur.com/TWSTK8s.png" alt="Product Image" class="headimage">
    <div class="sitebg">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">@Model.Name</h1>
            <p class="lead">Få mere information omkring produktet og vælg farver og størrelser nedenfor!</p>
        </div>
        <hr />


        <dl class="dl-horizontal">
            <dt>
                Varenummer:

            </dt>

            <dd>
                @Html.DisplayFor(model => model.StyleNumber)
            </dd>

            <dt>
                Produkt:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                Beskrivelse:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                Pris:
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Price),-
            </dd>

            <dt>
                Tilgængelige farver:
            </dt>
         

            <dd>
                <select id="colors" name="colors" onclick="clearAlert()">
                    <option value="default">Vælg en farve</option>
                    @foreach (var item in Model.GetAvailableColors())
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </dd>

            <br />
            <dt>
                Størrelser:
            </dt>

            <dd>
                <select id="sizes" name="sizes" onclick="clearAlert()">
                    <option value="default">vælg en størrelse</option>
                    <option value="xs">xs</option>
                    <option value="s">s</option>
                    <option value="m">m</option>
                    <option value="l">l</option>
                    <option value="xl">xl</option>
                    <option value="xxl">xxl</option>
                </select>
            </dd>

            <br />

            <dt>
                Antal:
            </dt>

            <dd>
                <label for="amount">
                    <input type="number" name="amount" id="amount"
                           min="1" max="100" step="1" value="1">
                </label>
            </dd>


         


        </dl>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-2">
                <button type="submit" class="btn btn-primary">Tilføj til kurv  </button>

            </div>

            <div class="col-sm-2">
                <button type="button" class="btn btn-secondary" onclick="location.href='@Url.Action("List", "Product")'">Tilbage til produkter</button>
            </div>
        </div>

        <h3 id="AlertMessage" style="color:red">   @ViewBag.Message  </h3>
    </div>
}


<script>

    function clearAlert() {

        document.getElementById("AlertMessage").innerHTML = "";
    }


</script>

