<link href="~/Content/ProductList.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.min.js"></script>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<link href="~/Content/font-awesome.css" rel="stylesheet" />

@model IEnumerable<WebApplication.Models.CompanyProduct>
@{
    ViewBag.Title = "List";
}
<h1 class="title_yo display-4">Produkter</h1>

<body>
    <table class="table">
        <tr class="sub_title_productList">
            <th>
                @Html.DisplayNameFor(model => model.StyleNumber)
            </th>
            <th>
                Produkt
            </th>
            <th>
                Beskrivelse
            </th>
            <th>
                Pris
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.StyleNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price),-
                </td>
                <td>
                    @using (Html.BeginForm("Details", "Product", new { id = item.StyleNumber })) {
                        <button type="submit" class="btn btn-primary">Se Mere</button>
                    }

                    @*@Html.ActionLink("Se produkt", "Details", new { id = item.StyleNumber })*@
                    @*@Html.ActionLink("Tilføj Til Kurv", "AddToCart", new { id = item.StyleNumber })*@
                    @*<button type="button" class="btn btn-primary">Se mere</button>*@
                </td>
            </tr>
        }
    </table>
</body>

<div class="container py-5">
    <div class="row text-center text-white mb-5">
        <div class="col-lg-7 mx-auto">
            <h1 class="display-4">Product List</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8 mx-auto">
            <!-- List group-->
            <ul class="list-group shadow">
                <!-- list group item-->
                @foreach (var item in Model) {
                    <li class="list-group-item">
                        <!-- Custom content-->
                        <div class="media align-items-lg-center flex-column flex-lg-row p-3">
                            <div class="media-body order-2 order-lg-1">
                                <h5 class="mt-0 font-weight-bold mb-2">
                                    @Html.DisplayFor(modelItem => item.Name)
                                </h5>
                                <p class="font-italic text-muted mb-0 small">
                                    @Html.DisplayFor(modelItem => item.Description)
                                </p>
                                <div class="d-flex align-items-center justify-content-between mt-1">
                                    <h6 class="font-weight-bold my-2">
                                        @Html.DisplayFor(modelItem => item.Price),-
                                    </h6>

                                    @using (Html.BeginForm("Details", "Product", new { id = item.StyleNumber })) {
                                        <button type="submit" class="btn btn-lg btn btn-success">Se Mere</button>
                                    }
                                    @*<li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star text-success"></i></li>
                                        <li class="list-inline-item m-0"><i class="fa fa-star-o text-gray"></i></li>*@
                                </div>
                            </div>@*<img src="https://i.imgur.com/KFojDGa.jpg" alt="Generic placeholder image" width="200" class="ml-lg-5 order-1 order-lg-2">*@
                        </div> <!-- End -->
                    </li>
                    <!-- End -->
                    <!-- list group item-->
                }
            </ul> <!-- End -->
        </div>
    </div>
</div>