@model IEnumerable<WebApplication.Models.CompanyProduct>

@{
    ViewBag.Title = "List";
}

<h2>Se alle Produkter</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StyleNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StyleNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.ActionLink("Se produkt", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Tilføj Til Kurv", "AddToCart", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
    }
</table>