

<!DOCTYPE html>
@using WebApplication.Controllers
<html>
<head>
    <link rel="icon" href="https://i.imgur.com/in8q3fb.png">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{ 
        string fullname = "";
        WebApplication.CustomerServiceReference.Customer customer = (WebApplication.CustomerServiceReference.Customer)Session["LoggedInUser"];
        if(customer != null)
        {
            fullname = "Hello, " + customer.FirstName + " " + customer.LastName + "!";
        }
        else
        {
            fullname = "Du er ikke logget ind!";
        }


    }
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Webshop4", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Produkter", "List", "Product")</li>
                    <li>@Html.ActionLink("Kurv", "Index", "Cart")</li>
                    <li>@Html.ActionLink("Opret Bruger", "create", "Customer")</li>
                    <li>@Html.ActionLink("Login", "index", "Login")</li>

                </ul>
                <h4 class="loginname">
                  @fullname
                </h4>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <footer>
            <p style="color: #070a0c">&copy; @DateTime.Now.Year - Gruppe 4 semesterprojekt</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>