@model WebApplication.OrderService.Order

@{
    ViewBag.Title = "Index";
}

@{
    decimal totalprice = 0;
    int numberOfItems = 0;

    foreach (var item in Model.SalesLineItems) {
        totalprice += item.Product.Price * item.amount;
        numberOfItems += item.amount;
    }
}

    <img src="https://i.imgur.com/TWSTK8s.png" alt="Product Image" class="headimage">

<h2 class="siteheadline">Færdiggør din bestilling</h2>

<div class="sitebg">
    <h4 style="margin-left: 1%; ">Din Ordre</h4>

    <dl class="dl-horizontal">
        <dt>
            Kunde id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            Dato
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Betalt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Ordrenummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>
    </dl>
</div>

<table class="table sitebg">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Antal
        </th>
        <th>
            Pris
        </th>
        <th>
            Størrelse
        </th>
        <th>
            Farve
        </th>
    </tr>
    @foreach (var item in Model.SalesLineItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductVersion.SizeCode)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.ProductVersion.ColorCode)
            </td>
        </tr>
    }
    <tr>
        <th>
            Antal varer
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @numberOfItems
        </td>
    </tr>
    <tr>
        <th>
            Total pris
        </th>
        <td></td>
        <td></td>
        <td></td>
        <td>
            @totalprice
        </td>
    </tr>
</table>

@using (Html.BeginForm("Receipt", "CheckOut")) {
    <button type="submit" class="btn btn-primary">Betal nu</button>
}
