@model WebApplication.OrderService.Order

@{
    ViewBag.Title = "Index";
}

<h2>Færdiggør din bestilling</h2>

<div>
    <h4>Din Ordre</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Kunde id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>

        <dt>
            Dato
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            Betalt
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Status)
        </dd>

        <dt>
            Ordrenummer
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OrderId)
        </dd>

    </dl>
</div>

<table class="table">
    <tr>
        <th>
            Produkt
        </th>
        <th>
            Antal
        </th>
        <th>
            Pris
        </th>
        <th>
            Størrelse
        </th>
        <th>
            Farve
        </th>
    </tr>
    @foreach (var item in Model.SalesLineItems) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
        
       
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
   
     
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
  

            <td>
                @Html.DisplayFor(modelItem => item.ProductVersion.SizeCode)
            </td>
    
    
            <td>
                @Html.DisplayFor(modelItem => item.ProductVersion.ColorCode)
            </td>
        </tr>
    }
</table>


@*<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.OrderId }) |
    @Html.ActionLink("Back to List", "Index")
</p>*@
