@model IEnumerable<WebApplication.Models.CompanyProductVersion>

@{
    ViewBag.Title = "Index";
}
<h2>Din indkøbskurv</h2>



<table class="table">
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>
            Produkt
        </th>
        <th>
            Farve
        </th>
        <th>
            Størrelse
        </th>
        <th>
            Pris
        </th>
        <th>
            Antal
        </th>
        <th>
        </th>
        <th></th>
    </tr>
    @if (Model != null)
    {


        foreach (var item in Model)
        {

                <tr>
                    <td>
                        <img src="https://i.imgur.com/Hx6uRNh.png" alt="stockimage" height="100" width="100">
                    </td>
                    <td>
                        @(Model.ToList().IndexOf(item) + 1)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ColorCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.SizeCode)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Product.Price)
                    </td>
                    <td>
                        1
                    </td>
                    <td>
                        @Html.ActionLink("X", "Delete", new { id = Model.ToList().IndexOf(item) })

                    </td>
                </tr>

        }
    }
    </table>
