@model IEnumerable<WebApplication.Models.CompanyProductVersion>

@{
    ViewBag.Title = "Index";
}
<h2>Din indkøbskurv</h2>



<table class="table">
    <tr>
        <th>

        </th>
        <th>

        </th>
        <th>
            Produkt
        </th>
        <th>
            Farve
        </th>
        <th>
            Størrelse
        </th>
        <th>
            Pris
        </th>
        <th>
            Antal
        </th>
        <th>
        </th>
        <th></th>
    </tr>

    @if (Model != null && Model.Count() > 0) {

        foreach (var item in Model) {

            <tr>
                <td>
                    @(Model.ToList().IndexOf(item) + 1)

                </td>
                <td>
                    <img src="https://i.imgur.com/Hx6uRNh.png" alt="stockimage" height="100" width="100">
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ColorCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SizeCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)
                </td>
                <td>
                    1
                </td>
                <td>
                    @*@Html.ActionLink("X", "Delete", new { id = Model.ToList().IndexOf(item) })*@

                    <a href='@Url.Action("Delete", "Cart", new { id = Model.ToList().IndexOf(item) } )'>
                        <img height="20" width="20" alt="X" src='@Url.Content("https://pngimage.net/wp-content/uploads/2018/06/red-x.png-5.png")' />
                    </a>
                </td>
            </tr>
        }
    } else {
        <h3 style="color:red;">
            Du har ingen produkter i din indkøbskurv.
        </h3>
    }
</table>

@using (Html.BeginForm("CheckOut", "Cart")) {
    <button type="submit" class="btn btn-primary">Gå til betaling</button>
}
@using (Html.BeginForm("Index", "CheckOut")) {
    <button type="submit" class="btn btn-primary">Gå til betaling 2</button>
}

